body {
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.css-15cwhmd-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  background: #9fa2b442;
  border-left : 2px solid white;
}